@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #c31432;
  background: linear-gradient(to right, #240b36, #c31432);
  min-height: 100vh;
  margin: 20px;
}

.portfolio-main {
  min-height: 100vh;
  background: linear-gradient(
    153.28deg,
    rgba(255, 255, 255, 0.4) 1.19%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
}

.container {
  width: 100%;
  padding: 0 20px;
}

/* Navbar */
header {
  padding-top: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: none;
  position: absolute;
  top: 79px;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  list-style: none;
  padding: 10px 0 20px;
}


.navigation-bar li {
  display: block;
  margin: 0 25px;
  text-align: center;
}

.navigation-bar li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #292423;
  transition: all 0.3s;
}

.navigation-bar li a:hover {
  opacity: 0.5;
}
.navigation-bar li.hire-btn {
  margin: 20px auto;
}

.navigation-bar li.hire-btn a {
  padding: 10px 32px;
  background: #292423;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;
}

.navigation-bar li.hire-btn a:hover {
  background: #fff;
  color: #292423;
  opacity: 1;
}

/* Toggle Bar */
.toggle-bar {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.toggle-bar span {
  display: block;
  width: 100%;
  height: 3px;
  background: #292423;
  border-radius: 10px;
  margin-bottom: 4px;
} 

/* Theme Toggler */
.theme-toggler{
  background:rgba(255,255,255,.2);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.theme-toggler span{
  height: 20px;
  width: 20px;;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
/* main content */
.main-content-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.col-left {
  margin-top: 50px;
}

.col-left h1 {
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  line-height: 1.5rem; 
  margin-bottom: 10px;
}

.col-left span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: normal;
  color: black;
  margin-bottom: 15px;
}

.col-left p {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: rgb(2, 2, 2);
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  text-align: justify;
}

/* Skills */
.skills-section {
  width: fit-content;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.skills-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills-section .icon {
  max-height: 25px;
  max-width: 25px;
  margin-right: 25px;
}

/* See My Work BUtton */
a.btn-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
  background: #292423;
  width: 190px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
a.btn-main:hover {
  background: #fff;
  color: #292423;
}
a.btn-main span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #35343d;
  border-radius: 50px;
  margin: 0 0 0 12px;
  transition: all 0.3s;
  text-align: center;
}
a.btn-main span img {
  margin-bottom: 7px;
}
a.btn-main:hover span {
  background: #ccc;
}

/* Experience  */
.experience-section {
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.experience-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.experience-inner .col {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 25px;
}

.experience-inner .col h3 {
  font-size: 25px;
  color: #292423;
  font-weight: 700;
  margin-bottom: 5px;
}
.experience-inner .col p {
  font-size: 16px;
  color: #292423;
  font-weight: 300;
}

/* Experience: Project Image */
.lb-image {
  max-width: inherit;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 10px auto;
}
  
.projects .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px;
  padding: 20px;
}

.projects .thumbnail {
  text-align: center;
  filter: grayscale(100%);
  transition: 1s;
  list-style-type: none;
  width: 200px;
}

.projects .thumbnail:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.title {
  margin: 20px;
  padding: 10px;
}

.btn-section {
  color: blue;
  font-size: .8rem;
  font-weight: 600;
  padding: 8px;
  justify-content: center;
  text-decoration: underline;
}

/* Contact Me */
.contact-section {
  width: 100%;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 30px auto;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-section .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.row .message {
  background:rgba(252, 250, 250, 0.1);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  border-radius: 1rem;
  display: block;
  padding: 20px;
}

.box {
  background:rgba(252, 250, 250, 0.1);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

input {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 5px;
  color:black;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 5px;
  color:black;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

::placeholder {
  color: black;
}

.btn {
  background: linear-gradient(to right, #240b36, #c31432);
  color: white;
  border: 1px solid #0f2027;
  width: 40%;
}

/* Contact Info */
.contact-info {
  width: 100%;
  height: auto;
  padding: 20px;;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-top: 20px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 1rem;
}

.contact img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.contact p a {
  color: black;
  font-weight: 600;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.social-media a {
  height: 20px;
  width: 20px;
  list-style: none;
  color: black;
  font-size: 1.5rem;
  margin: 10px auto;
}


/* Media Queries */

@media (min-width: 1020px) {
  .portfolio-main {
    margin: auto 60px;
  }

  .toggle-bar {
    display: none;
  }

  nav {
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    padding: 10px;
  }

  .navigation-bar {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    left: 200px;
    background: none;
    width: fit-content;
    }

  .navigation-bar li a {
    font-weight: 500;
    font-size: 1rem;
    margin-right: 45px;
  }

  .skills-section {
    width: fit-content;
  }

  .main-content-wrapper {
    flex-direction: row;
    width: 100%;
    height: 100vh;
  }

  .col-left {
    width: 70%;
  }

  .experience-section,
  .contact-section {
    width: 100%;
    height: 100vh;
  }

  .projects {
    display:grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 30px;
    width: 100%;
    height: 100%;
  }

  .col .thumbnail {
    width: 100%;
  }

  .contact-section .row  {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
  }

  .row .message {
    height: fit-content;
  }

  .row .message form {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .box {
    line-height: 2rem;
    width: 300px;
    overflow: hidden;
  }

  textarea {
    height: 300px;
  }

  .contact-info {
    margin-left: 20px;
  }

  .contact-text {
    justify-content: space-between;
    align-items: flex-start;
  }

  .social-media a {
    padding: 20px 40px;
    align-items: center;
  }
}
