h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: .9em;
}  

h3, 
p {
	color: #374B4A;
}

p,
span {
	font-family: 'PT Serif', serif;
}

p {
	font-size: 1em;
}

span {
	display: block;
	font-size: .9em;
	color: rgba(124, 123, 127, .5);
}

hr {
	opacity: .3;
	margin: 25px 15px;
}

.wrapper {
	margin: 20px 2%;
}

.header {
	margin: 10px 15px;
}

.header h3 {
	text-transform: uppercase;
}

.search input {
	width: calc(100% - 48px);
	border: none;
	border: solid rgba(124, 123, 127, .3) 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: rgba(124, 123, 127, .5);
	margin-left: -4px;
    padding: 9px 5px 7px 5px;
}

.search input:focus {
	outline: none;
}

.search i {
	background-color: rgba(124, 123, 127, .5);
	color: #fff;
	padding: 10px;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}

.directory {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	flex-grow: 1;
	flex-basis: 0;
	border: solid 1px rgba(124, 123, 127, .5);
	border-radius: 5px;
	padding: 18px;
	margin: 12px 14px;
	min-height: 120px;
	display: flex;
	justify-content: space-around;
	transition: box-shadow .5s;
}

.card:hover {
	box-shadow: 0px 0px 5px 0px rgba(54,54,54,0.77);
}

.card div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar {
	border-radius: 100%;
	margin-right: 8px;
}

.name {
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

.city,
.name,
.address {
	text-transform: capitalize;
}

.email {
	margin-bottom: 5px;
}

.visible {
	display: block;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox div {
	position: relative;
	background: #fff;
	width: 23%;
	min-width: 300px;
	margin: 20vh auto 0;
	padding: 30px 20px;
	border-radius: 5px;
}

.lightbox span {
	margin-bottom: 15px;
}

.lightbox .name {
	margin-top: 15px;
}

.lightbox .email {
	margin-bottom: 10px;
}

.lightbox .close {
	position: absolute;
	top: 0;
	right: 5px;
	background: none;
	border: none;
	opacity: .5;
	padding-top: 5px;
	transition: opacity .3s;
}

.lightbox .directionBtns {
	position: absolute;
	top: 50%;
	border:none;
	background: rgba(0, 0, 0, 0);
	color: #fff;
}

.lightbox .back {
	left: -8%;
}

.lightbox .forward {
	right: -8%;
}

.lightbox .directionBtns:hover {
	color: rgba(124, 123, 127, .8);
}

.lightbox .close:hover {
	opacity: 1;
}

.lightbox button:focus {
	outline: none;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 768px) {

	.header {
		display: flex;
		justify-content: space-between;
	}

	.search input {
		width: 190px;
	}

	.lightbox .back {
		left: -50%;
	}

	.lightbox .forward {
		right: -50%;
	}

}

